body {
	font-family: "Gill Sans Extrabold", sans-serif;
	font-size: 20px;
	font-weight: bold;
}

h1 {
	font-size: 6em;
}
h2 {
	font-size: 4em;
}
header {
	height: 6em;
}
/*  whole app */

.home-background {
	position: relative;
	overflow: hidden;
}

.home-background::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-size: cover;
	animation: backgroundSlide 20s infinite;
}
@keyframes backgroundSlide {
	0% {
		background-image: url("../public/images/IMG_0718.jpg");
	}
	/* 33% {
		background-image: url("../public/images/IMG_0719.jpg");
	} */
	50% {
		background-image: url("../public/images/IMG_0720.jpg");
	}
	100% {
		background-image: url("../public/images/IMG_0721.jpg");
	}
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(
		0,
		0,
		0,
		0.3
	); /* Adjust the opacity (last parameter) */
}
/* navbar component */
/* .custom-navbar h2 {
	font-size: 2.5rem;
}
.custom-navbar {
	font-size: 2rem;
} */

/* header */
header {
	background-color: white;
}
/* testimonial component */
.testimonial-container {
	margin: 0 auto;
	padding: 1.25rem;
	border: 2px solid #ddd;
	border-radius: 8px;
	background-color: #f8f9fa;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}
/* shared keyframes between home and testimonials component */
@keyframes slideIn {
	from {
		transform: translateY(-50px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.animated-text {
	animation: slideIn 1s ease-in-out;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

@keyframes fadeInScale {
	from {
		opacity: 0;
		transform: scale(0.8);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.animatedText {
	animation: fadeInScale 1s ease-in-out;
}

@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.animatedLargeText {
	animation: zoomIn 1s ease-in-out;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

/* galery compoenet */
.card:hover {
	transform: scale(1.05);
	transition: transform 0.3s ease-in-out;
}
.container-gallery {
	border: 2px solid #ddd;
	margin-top: 2em;
	margin-bottom: 2em;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
	padding: 20px;
}

/* about component */

.about-header {
	font-size: 2rem;
	font-weight: bold;
}

.background-image {
	width: 100%;
	height: auto;
}
/* services */
h2 {
	font-size: 2.5rem;
}
/* testimonial */
.testimonial-container {
	background-image: url("/images/background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: auto;
}
.card-about {
	/* background: rgba(255, 255, 255, 0.3); */
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}
/* footer */
footer {
	background-color: white;
	margin-top: auto;
	padding: 20px 0;
}
.help-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
}
/* contact-info */
.email-link {
	color: inherit;
	text-decoration: none;
}
.list-group:hover {
	background-color: #f5f5f5;
}

.contact-background {
	background-color: beige;
	min-height: "100vh";
}
